.button{
    -fx-transition-duration: 0.4s;
}

.button:hover{
    -fx-background-color: linear-gradient(red,orange);
}

#endPhase{
    -fx-background-color: red;
}

#displayGod{
    -fx-font-size: 10px;
    -fx-wrap-text: true;
}

