#start{
    -fx-background-image: url("startBackground.png");
    -fx-background-size: 100% 100%;
}

#init{
    -fx-background-image: url("initBackGround.png");
    -fx-background-size: 100% 100%;
}

#board{
    -fx-background-image: url("boardBackground.png");
    -fx-background-size: 100%,100%;
}

#win{
    -fx-background-image: url("endBackground.png");
    -fx-background-size: 100%,100%;
}